<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover"
/>
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<title>Мультиплатформенный проект</title>
<link rel="icon" type="image/png" sizes="32x32" href="/meta/favicon.png" />
<meta name="theme-color" content="#ffffff" />
<meta property="og:description" content="Проект для VK, OK, TG и iframe" />
<meta property="og:image" content="/meta/share.png" />
